.myCaption{
    margin-top: 1em;
    justify-content: center;
    text-align: center;
    margin-bottom: 3em;
}

.Album{
    min-height: 100dvh;
}

.myAlbumFooter{
    position: relative;
    bottom: 0;
    text-align: center;
}

.albumName{
    text-align: center;
}