.Gallery{
    min-height: 100dvh;
}
.Portrait{
    width: 100%;
    height: auto;
}

.Landscape{
    width: 100%;
    height: auto;
}

.myGalleryFooter{
    position: relative;
    bottom: 0em;
    text-align: center;
    margin-top: 1em;
}
